.floor-background-holder {
  background-color: #808080;
  width: 30vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5vh;
  justify-content: space-between;
}

.floor-title {
  color: #ffffff;
  font-size: 4rem;
  margin: 7%;
}