.floor-background-holder {
  background-color: #808080;
  width: 30vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5vh;
  justify-content: space-between;
}

.floor-title {
  color: #ffffff;
  font-size: 4rem;
  margin-right: 7%;
}

.indicating-lights-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: min-content;
  height: 100%;
  font-size: 4rem;
}

.indicating-a-holder {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-flow: column;
}

.indicating-b-holder {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-flow: column;
}

.A-up-active {
  color: yellow;
}

.A-down-active {
  color: yellow;
}

.B-up-active {
  color: yellow;
}

.B-down-active {
  color: yellow;
}
